// Colors
$theme-color-dark-1: #303030;
$theme-color-dark-2: #2b2b2b;
$theme-color-dark-3: #1f1f1f;
$theme-color-dark-4: #1b1c1e;

// bp size
$bp-largest: 1440px;
$bp-large: 1024px;
$bp-medium: 840px;
$bp-small: 600px;
$bp-smallest: 360px;
